@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');

@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-background: var(--background);
  --color-bgsh1: var(--bgsh1);
  --color-bgsh2: var(--bgsh2);
  --color-background_2: var(--background_2);
  --color-background_3: var(--background_3);
  --color-background_4: var(--background_4);
  --color-background_5: var(--background_5);
  --color-background_6: var(--background_6);
  --color-header_1: var(--header_1);
  --color-footer_1: var(--footer_1);



  --color-white: var(--white);
  --color-bgbd: var(--bgbd);

  --color-Ptext: var(--Ptext);

  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-border: var(--border);
  --color-muted-foreground: var(--muted-foreground);
}




:root {
  --Ptext: #ffffff;
  --bgbd: #562a81;

  --white: hwb(0 100% 0%);
  --bgsh1: #edebf0;
  --bgsh2: hwb(0 100% 0%);
  --background: #edebf0;
  --background_2: #D0CBD8;
  --background_3: #603986;
  --background_4: #7a4baa;
  --background_5: #9963cf;
  --background_6: #603986;
  --header_1: #603986;
  --footer_1: #562a81;

  --foreground: #070606;
  --primary: #562a81;
  --border: #e5e5e5;
  --muted-foreground: #737373;

  --bg-image: url("/bg.jpg");
}

.dark {
  --Ptext: #ffffff;
  --bgbd: #562a81;
  --bgsh1: #121212;
  --bgsh2: #272727;
  --footer_1: #000000;


  --background_3: #ffffff;
  --background_4: #7a4baa;
  --background_5: #9963cf;
  --background_6: #603986;
  --header_1: #603986;

  --background: #121212;
  --foreground: #ffffff;
  --primary: #562a81;
  --border: #262626;
  --muted-foreground: #a3a3a3;

  --bg-image: url("/bg.jpg");
}
body {
  position: relative;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;

}  h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond', serif;
  }

  /* --background: #edebf0; */

