@import "tailwindcss";
@plugin "daisyui";


html {
  scroll-behavior: smooth;
}


@theme {
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-border: var(--border);
  --color-muted-foreground: var(--muted-foreground);
}


:root {
  --foreground: #070606;
  --primary: #562a81;
  --border: #e5e5e5;
  --muted-foreground: #737373;

  --bg-image: url("/bg.jpg");
}

.dark {
  --foreground: #f4f2f7;
  --primary: #562a81;
  --border: #262626;
  --muted-foreground: #a3a3a3;

  --bg-image: url("/bg.jpg")
}
body {
  position: relative;
  min-height: 100vh;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.6);
  z-index: 0;
  pointer-events: none;
}

.dark body::before {
  background: rgba(0, 0, 0, 0.6);
}

body > * {
  position: relative;
  z-index: 1;
}
